* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html {
    overflow-x: hidden;
    background-color: #f6f6f6;
    max-width: 100%;
}

header {
    background-color: #2b5a41;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.head {
    display: flex;
    text-align: justify;
}

.logohead {
    margin-top: 27px;
}

.logo {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    height: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.wrapper__menu {
    padding-top: 23px;
    height: 150px;
}

.wrapper__menu-link {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 17px;
    font-style: normal;
    text-decoration: none;
    height: 50px;
    padding-left: 80px;
    position: relative;
}

.wrapper__menu-link::after {
    content: "";
    position: absolute;
    background-color: #c4c4c4;
    height: 4px;
    top: 95%;
    border-radius: 3px;
}

.wrapper__menu-link::after:hover {
    transition: .3s;
}

.sign_div {
    margin-top: 25px;
    margin-left: 150px;
}

.wrapper__menu-link3 {
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: 15px;
    font-style: normal;
    text-decoration: none;
    margin-right: 30px;
}

.wrapper__menu-link4 {
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    padding: 13px 45px;
    text-decoration: none;
    background: #FF7B4E;
    border-radius: 25px;
}

.wrapper__checkbox {
    display: none;
}

.wrapper__checkbox:checked~.wrapper__button .wrapper__button-line:nth-child(2) {
    opacity: 0;
}

.header1 {
    background-color: #2b5a41;
    height: 850px;
    width: 100%;
    margin-top: 0%;
}

.header_block1 {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 20px;
}

.logo {
    color: #ffff;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    height: 50px;
    padding-left: 100px;
    padding-right: 120px;
}

.logo1 {
    color: #ffff;
    font-family: 'Poppins';
    font-size: 17px;
    font-style: normal;
    text-decoration: none;
    height: 50px;
    padding-left: 100px;
}

.wrapper__menu-link::after {
    content: "";
    position: absolute;
    background-color: #c4c4c4;
    height: 4px;
    width: 0;
    left: 80px;
    bottom: -0px;
    border-radius: 3px;
}

.wrapper__menu-link:hover::after {
    width: 43%;
    transition: 0.5s;
}

.sign_div {
    margin-right: 50px;
}

.logo3 {
    color: #ffff;
    font-family: 'Poppins';
    font-size: 15px;
    font-style: normal;
    text-decoration: none;
    margin-right: 30px;
}

.logo4 {
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    padding: 13px 45px;
    text-decoration: none;
    background: #FF7B4E;
    border-radius: 25px;
}

.header1 {
    position: relative;
}

.header_bl1 {
    width: 30%;
    margin-left: 100px;
    padding-top: 100px;
}

.header_button1 {
    background-color: #628974;
    color: #ffff;
    border-radius: 15px;
    position: absolute;
    width: 227px;
    text-align: center;
    height: 50px;
    font-weight: 600;
    padding: 13px;
}

.header_txt1 {
    width: 603px;
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    position: absolute;
    top: 170px;
    color: #ffff;
    left: 100px;
    font-family: Poppins;
}

.header_txt2 {
    position: absolute;
    width: 519px;
    height: 76px;
    left: 100px;
    top: 425px;
    color: #7d958a;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
}

.header_image {
    position: absolute;
    width: 520px;
    top: 110px;
    left: 51%;
}

.header_group1 {
    position: absolute;
    left: 50%;
    width: 50px;
    top: 20px;
}

.header_group2 {
    position: absolute;
    left: 92%;
    width: 70px;
    top: 600px;
}

.header_vector1 {
    position: absolute;
    left: 85%;
    width: 90px;
    top: 55px;
}

.header_vector2 {
    position: absolute;
    left: 90%;
    width: 90px;
    top: 80px;
}

.header_vector3 {
    position: absolute;
    left: 56%;
    width: 90px;
    top: 720px;
}

.header_vector4 {
    position: absolute;
    left: 50%;
    width: 90px;
    top: 700px;
}

.header_button2 {
    position: absolute;
    color: #ffff;
    width: 263px;
    height: 91px;
    left: 100px;
    top: 530px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
    text-align: center;
    font-size: 25px;
    padding: 25px;
    font-weight: 600;
}

.header_button1:hover,
.header_button2:hover {
    cursor: pointer;
}

.ugol {
    width: 100%;
    position: absolute;
    top: 80%;
}

.main {
    position: relative;
    width: 90%;
}

.main_txt1 {
    position: absolute;
    width: 148px;
    height: 0px;
    left: 100px;
    top: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}

.main_txt2 {
    position: absolute;
    width: 352px;
    height: 83px;
    left: 100px;
    top: 80px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
}

.main_txt3 {
    position: absolute;
    width: 412px;
    height: 76px;
    left: 100px;
    top: 170px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    opacity: 0.5;
}

.main_button {
    position: absolute;
    width: 223px;
    height: 79px;
    left: 100px;
    top: 280px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    padding-top: 25px;
    color: #ffff;
}

.center {
    position: absolute;
    left: 53%;
    top: 50px;
    width: 700px;
}

.carousel {
    width: 80%;
}

.slick-prev:before {
    content: "<";
    color: rgb(255, 255, 255);
    font-size: 40px;
    background-color: #FF7B4E;
    padding: 15px 25px;
    border-radius: 60%;
    position: absolute;
    font-weight: 800;
    left: -42px;
    top: -10px;
    font-family: 'Poppins';
}

.main2 {
    width: 100%;
    height: 500px;
    position: relative;
    top: 500px;
}

.main2_img {
    width: 400px;
    position: absolute;
    top: 10px;
    left: 100px;
    border-radius: 50px;
}

.main2_txt {
    position: absolute;
    left: 46%;
    width: 565px;
    height: 136px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 67px;
}

.main2_txt2 {
    position: absolute;
    width: 183px;
    height: 50px;
    left: 720px;
    top: 160px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 49px;
}

.main2_img2 {
    position: absolute;
    width: 150px;
    height: auto;
    left: 540px;
    top: 150px;
    padding-right: 10px;
    background-color: #FF7B4E;
    border-radius: 50%;
}

.main2_txt3 {
    position: absolute;
    width: 491px;
    height: 66px;
    left: 720px;
    top: 210px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #0F1F1C;
    opacity: 0.5;
}

.main2_txt4 {
    position: absolute;
    width: 491px;
    height: 66px;
    left: 580px;
    top: 330px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #0F1F1C;
    opacity: 0.5;
}

.stars {
    position: absolute;
    top: 410px;
    left: 46%;
}

.main3 {
    text-align: center;
    width: 90%;
}

.rectangle16 {
    position: relative;
    top: 550px;
    left: 5%;
}

.main3_txt1 {
    position: absolute;
    width: 519px;
    height: 136px;
    left: 32%;
    top: 109%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    text-align: center;
}

.main3_txt2 {
    position: absolute;
    left: 30%;
    top: 122%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #0F1F1C;
    opacity: 0.5;
}

.main3_txt3 {
    position: absolute;
    width: 223px;
    height: 79px;
    left: 42%;
    top: 130%;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    padding-top: 25px;
    color: #ffff;
}

.pinkcircle {
    position: absolute;
    left: 86%;
    top: 1100px;
}

.pinkcircle2 {
    position: absolute;
    left: 12%;
    top: 1500px;
    transform: rotate(180deg)
}

.main4 {
    text-align: center;
    position: relative;
    width: 100%;
}

.main4_txt {
    position: absolute;
    width: 400px;
    height: 166px;
    left: 36%;
    top: 680px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    text-align: center;
}

input {
    position: absolute;
    left: 24%;
    padding: 25px;
    width: 50%;
    border: none;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #C4C4C4;
    border-radius: 35px;
    text-align: left;
    font-size: 17px;
    height: 110px;
    top: 354%;
}

form.search button {
    position: absolute;
    padding: 10px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    color: white;
    font-size: 20px;
    border: none;
    border-left: none;
    border-radius: 25px;
    cursor: pointer;
    left: 55%;
    top: 356%;
    width: 240px;
    height: 90px;
}

footer {
    position: relative;
    top: 1150px;
    display: flex;
    text-align: center;
    height: 100px;
}

.logo_footer {
    color: #FF7B4E;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    height: 50px;
    padding-left: 100px;
    padding-right: 150px;
}

.logo1fut {
    font-family: 'Poppins';
    font-size: 15px;
    font-style: normal;
    text-decoration: none;
    height: 50px;
    padding-left: 80px;
    color: #0F1F1C;
    opacity: 0.5;
}

.logo3fut {
    color: #0F1F1C;
    opacity: 0.5;
    font-family: 'Poppins';
    font-size: 15px;
    font-style: normal;
    text-decoration: none;
    padding-right: 50px;
    padding-left: 150px;
    cursor: pointer;
}

.logo4fut {
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    padding: 13px 45px;
    text-decoration: none;
    background: #FF7B4E;
    border-radius: 25px;
    cursor: pointer;
}

@media(max-width:1440px) {
    .ugol {
        top: 79%;
    }
    .header_image {
        width: 560px;
        top: -1px;
    }
    .center {
        left: 55%;
    }
    .rectangle16 {
        left: 9%;
    }
}

@media(max-width:1280px) {
    .wrapper {
        width: 100%;
        height: 500px;
    }
    .wrapper__checkbox:checked~.wrapper__menu {
        right: 0;
    }
    .wrapper__checkbox:checked~.wrapper__button .wrapper__button-line:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 8px;
    }
    .wrapper__checkbox:checked~.wrapper__button .wrapper__button-line:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -6px;
    }
    .wrapper__button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 150px;
        height: 50px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 20px;
        right: 50px;
        cursor: pointer;
        z-index: 1;
    }
    .wrapper__button-line {
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 5px;
        background: #000;
        margin: 2px 0;
        position: relative;
        -webkit-transition: all .1s linear 0.2s;
        -o-transition: all .1s linear 0.2s;
        transition: all .1s linear 0.2s;
    }
    .wrapper__menu {
        position: fixed;
        top: 80px;
        right: -35%;
        width: 400px;
        height: 500px;
        background: #0F1F1C;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: end;
        -ms-flex-align: end;
        padding: 100px 40px 40px;
        -webkit-transition: right 0.4s;
        -o-transition: right 0.4s;
        transition: right 0.4s;
        border-bottom-left-radius: 100px;
        border-top-left-radius: 100px;
        z-index: 2;
    }
    .wrapper__menu-link {
        font-size: 18px;
        line-height: 20px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        margin-bottom: 30px;
        padding: 5px 10px;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
    }
    .wrapper__menu-link:hover {
        padding-right: 20px;
    }
    .sign_div {
        display: none;
    }
    .header_image {
        top: -430px;
    }
    .header_button1 {
        top: -400px;
    }
    .header_txt1 {
        top: -335px;
        font-size: 40px;
        width: 350px;
    }
    .header_txt2 {
        top: -10px;
    }
    .header_button2 {
        top: 80px;
    }
    .center {
        width: 650px;
        left: 55%;
    }
    .header1 {
        height: 320px;
    }
    .ugol {
        top: 53%;
    }
    .header_group1 {
        top: -400px;
    }
    .header_vector1 {
        top: -380px;
    }
    .header_vector2 {
        top: -340px;
    }
    .header_group2 {
        top: 80px;
    }
    .header_vector3 {
        top: 220px;
    }
    .header_vector4 {
        top: 180px;
    }
    .main_txt3 {
        font-size: 23px;
        width: 400px;
    }
    .logo1fut {
        padding-left: 60px;
    }
    .main2_txt,
    .stars {
        left: 50%;
    }
    .rectangle16 {
        left: 1%;
    }
}

@media(max-width: 1024px) {
    .header_image {
        top: -151%;
    }
    .wrapper__button {
        left: 101%;
    }
    header,
    footer {
        width: 126%;
    }
    .rectangle16 {
        left: 3%;
    }
    .center {
        left: 67%;
    }
    .ugol {
        top: 48%;
    }
    .pinkcircle {
        left: 116%;
    }
    .logo1fut {
        padding-left: 55px;
    }
    .header_group2 {
        display: none;
    }
    .main2_txt,
    .stars {
        left: 63%;
    }
    .main2_img2 {
        width: 120px;
        left: 580px;
        top: 170px;
    }
    .main2_txt4 {
        top: 310px;
    }
    .main2_txt2 {
        top: 180px;
    }
    .main2_txt3 {
        width: 291px;
        top: 230px;
    }
    .main3_txt1 {
        left: 43%;
    }
    .main3_txt2 {
        left: 30%;
        width: 80%;
    }
    .main3_txt3 {
        left: 58%;
    }
    .main4_txt {
        left: 43%;
    }
    input {
        top: 334%;
        left: 37%;
    }
    form.search button {
        left: 62%;
        top: 2840px;
    }
    .wrapper__menu-link::after {
        display: none;
    }
    .wrapper__menu-link:hover::after {
        display: none;
    }
}

@media(max-width:768px) {
    header,
    footer {
        width: 164%;
    }
    .wrapper__button {
        left: 132%;
    }
    .ugol {
        top: 50%;
    }
    .main2_txt,
    .stars {
        left: 83%;
    }
    .stars {
        width: 60%;
    }
    .pinkcircle {
        left: 156%;
    }
    .main3_txt1 {
        left: 52%;
    }
    .main3_txt2 {
        left: 42%;
        width: 90%;
    }
    .main3_txt3 {
        left: 72%;
    }
    .main4_txt {
        left: 53%;
    }
    input {
        left: 37%;
        width: 80%;
    }
    form.search button {
        left: 84%;
    }
    .center {
        left: 85%;
    }
}

@media(max-width:425px) {
    header,
    footer {
        width: 295%;
    }
    .center {
        left: 152%;
        top: 60px;
    }
    .wrapper__button {
        left: 232%;
    }
    .main2_txt,
    .stars {
        left: 153%;
    }
    .stars {
        width: 90%;
    }
    .rectangle16 {
        left: 6%;
        width: 350%;
    }
    .pinkcircle {
        left: 278%;
    }
    .pinkcircle2 {
        left: 25%;
    }
    .main3_txt1 {
        left: 92%;
    }
    .main3_txt2 {
        left: 75%;
        width: 170%;
    }
    .main3_txt3 {
        left: 132%;
    }
    .main4_txt {
        left: 93%;
    }
    input {
        left: 79%;
        width: 120%;
    }
    form.search button {
        left: 140%;
    }
}

@media(max-width:395px) {
    header,
    footer {
        width: 332%;
    }
    .center {
        left: 170%;
        top: 80px;
    }
    .main2_txt,
    .stars {
        left: 173%;
    }
    .rectangle16 {
        left: 28%;
    }
    .pinkcircle {
        left: 300%;
    }
    .pinkcircle2 {
        left: 50%;
        top: 139%;
    }
    .main3_txt1 {
        left: 105%;
        top: 112%;
    }
    .main3_txt2 {
        left: 45%;
        width: 270%;
        top: 127%;
    }
    .main3_txt3 {
        left: 150%;
        top: 135%;
    }
    input {
        width: 170%;
        top: 320%;
    }
    form.search button {
        left: 180%;
        top: 321%;
    }
}

@media(max-width:320px) {
    header,
    footer {
        width: 372%;
    }
    .wrapper__button {
        left: 292%;
    }
    .header_image {
        top: -139%;
        width: 530px;
    }
    .ugol {
        top: 55%;
    }
    .center {
        left: 183%;
    }
    .main_txt3 {
        width: 350px;
    }
    .main_button {
        top: 310px;
    }
    .main2_txt,
    .stars {
        left: 193%;
    }
    .stars {
        width: 120%;
    }
    .rectangle16 {
        left: 12%;
        width: 440%;
    }
    .pinkcircle {
        left: 350%;
    }
    .main3_txt2 {
        left: 60%;
    }
    .main3_txt3 {
        left: 160%;
    }
    .main4_txt {
        left: 123%;
    }
    footer {
        top: 1250px;
    }
    input {
        width: 210%;
        top: 335%;
    }
    form.search button {
        left: 210%;
        top: 336%;
    }
}